{% extends "fastapi/handler_default.py.j2" %}
{% block body %}
{% if is_object_action %}
    {{ model_param_name }} = await get_object_from_query_or_404(
        db,
        select({{ model_name }}).where({{ model_name }}.{{ pk_name }} == {{ pk_name }}),
        detail="{{ model_name }} not found",
    )
    result = await {{ fn_name }}({{ model_param_name }}, db=db{% if has_request_body %}, body=body{% endif %})
{% else %}
    result = await {{ fn_name }}(db=db{% if has_request_body %}, body=body{% endif %})
{% endif %}
    await db.commit()
    return result
{% endblock %}
