{% from "_macros.j2" import file_header %}
{{ file_header("Pydantic schemas for " ~ model_name) }}

{{ import_block }}
# ---------------------------------------------------------------------------
# Response / request schemas
# ---------------------------------------------------------------------------
{% for cls in schema_classes %}


{{ cls }}
{% endfor %}
