class {{ schema_name }}(BaseModel):
    """Link schema for {{ schema_name | replace("Link", "") }}."""

    type: Literal["{{ slug }}"] = "{{ slug }}"
{% for field in fields %}
    {{ field.name }}: {{ field.py_type }}
{% endfor %}
