{% extends "fastapi/handler_default.py.j2" %}
{% block body %}
    result = await db.execute(delete({{ model_name }}).where({{ model_name }}.{{ pk_name }} == {{ pk_name }}))
    assert_rowcount(result, detail="{{ model_name }} not found")
    await db.commit()
{% endblock %}
